.chat_detail_page_flexbox{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.summary_button{
    padding: 10px;
    width: 30%;
}

.description_area{
    display: flex;
    flex-direction: row;
}

.description{
    flex-grow: 1;
    height: 100px;
    padding: 10px;
    white-space: pre-wrap;
    overflow: auto;
}

.chat_detail_page_flexbox_flexbox{
    flex-shrink: 0;
}

.message_area{
    flex-grow: 1;
    overflow: auto;
}

.markdown_input{
    width: 100%;
    height: 100px;
}

.input_area{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.label_place{
    width: 110px;
    text-align: right;
    display: inline-block;
}

