.chat_detail_page_flexbox{
    display: flex;
    flex-direction: column;
}

.chat_detail_page_flexbox_flexbox{
    display: flex;
    flex-direction: column;
}

.chat_detail_page_flexbox h2{
    text-align: center;
}


.chat_detail_page_flexbox p{
    margin: 0;
}

.chat_detail_page_flexbox header{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
