h3.dialog_header{
    text-align: center;
}

form.additiondialog_form{
    display: flex;
    flex-direction: column;
}

div.content_area{
    display: flex;
    flex-direction: column;
}

input.textbox1{
    width: 355px;
}

div.button_area{
    display: flex;
    flex-direction: row;
}

button.submit_button{
    margin: 10px;
    flex-grow: 1;
}

button.cancel_button{
    margin: 10px;
    flex-grow: 1;
}

.label1{
    background-color: aqua;
    display: inline-block;
    text-align: right;
    width: 130px;
}
